input,select, .actionInfo{
  border: 1px solid #f84a10;
  border-radius: 0.25rem;
  padding: 1rem;
  margin-top:0.45rem;
  margin-bottom: 1rem;
  width: 100%;
  background-color: white;
}

select{
  padding: 1rem 0.25rem;
}

.mob{
  width: fit-content;
}


label, .maroon{
  color: #944104 !important;
  font-weight: 600;
}

.actionInfo{
  border-radius: 1rem;
}